html, body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    max-width: 1220px;
}

.btn{
    text-transform: uppercase;
    font-family: proxima-nova, sans-serif;
    font-weight: 800;
    font-style: normal;
    font-size: 16px;
    line-height: 1.625;
    padding: 20px 30px;
    border-radius: 0;
    box-shadow: none;
}

.primary-btn{
    border: 3px solid #9E3136;
    background-color: transparent;
    color: #9E3136;
}

/* nav */
.navbar{
    background: transparent;
    margin-bottom: -300px;
}

.navbar .navbar-brand{
    margin-left: 70px;
}

.navbar .navbar-nav .nav-link{
    font-family: acumin-pro-wide, sans-serif;
    font-weight: 700;
    font-style: normal;
    color: #FFFFFF;
    font-size: 16px;      
    line-height: 1.625;
    letter-spacing: 0.64px;
    transition: all 0.4s ease;
    text-transform: uppercase;
    border: none;
    border-bottom: 4px solid transparent;
    padding:  5px 5px;
    margin: 0px 16px;
}

.navbar .navbar-nav .nav-link:hover,
.navbar .navbar-nav .nav-link:active,
.navbar .navbar-nav .nav-link:focus{
    font-family: acumin-pro-wide, sans-serif;
    font-weight: 700;
    font-style: normal;
    color: #FFFFFF;
    font-size: 16px;      
    line-height: 1.625;
    letter-spacing: 0.64px;
    transition: all 0.4s ease;
    text-transform: uppercase;   
    border: none;
    border-bottom: 4px solid #9E3136;
}
/* nav */

