html, body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    max-width: 1220px;
}

.btn{
    text-transform: uppercase;
    font-family: proxima-nova, sans-serif;
    font-weight: 800;
    font-style: normal;
    font-size: 16px;
    line-height: 1.625;
    padding: 15px 30px;
    border-radius: 0;
    box-shadow: none;
}

.primary-btn{
    border: 3px solid #9E3136;
    background-color: transparent;
    color: #9E3136;
}

.primary-btn:hover{
    border: 3px solid #2A2D74;
    background-color: #2A2D74;
    color: #FFFFFF;
}

.secondary-btn{
    border: 3px solid #9E3136;
    background-color: #9E3136;
    color: #FFFFFF;
    padding: 15px 30px;
}

.secondary-btn:hover{
    border: 3px solid #9E3136;
    background-color: transparent;
    color: #9E3136;
    padding: 15px 30px;
}

.third-btn{
    border: 3px solid #FFFFFF;
    background-color: transparent;
    color: #FFFFFF;
    padding: 15px 30px;
}

.third-btn:hover{
    border: 3px solid #9E3136;
    background-color: #9E3136;
    color: #FFFFFF;
    padding: 15px 30px;
}


/* nav */
.navbar{
    background: transparent;
    margin-bottom: -300px;
    border-top: 10px solid #2A2D74;
}

.navbar .navbar-nav .nav-link{
    font-family: acumin-pro-wide, sans-serif;
    font-weight: 700;
    font-style: normal;
    color: #FFFFFF;
    font-size: 16px;      
    line-height: 1.625;
    letter-spacing: 0.64px;
    transition: all 0.4s ease;
    text-transform: uppercase;
    border: none;
    border-bottom: 4px solid transparent;
    padding:  5px 5px;
    margin: 0px 16px;
}

.navbar .navbar-nav .nav-link:hover,
.navbar .navbar-nav .nav-link:active,
.navbar .navbar-nav .nav-link:focus{
    font-family: acumin-pro-wide, sans-serif;
    font-weight: 700;
    font-style: normal;
    color: #FFFFFF;
    font-size: 16px;      
    line-height: 1.625;
    letter-spacing: 0.64px;
    transition: all 0.4s ease;
    text-transform: uppercase;   
    border: none;
    border-bottom: 4px solid #9E3136;
}
/* nav */

/* home */
#home{
    padding-top: 275px;
    padding-bottom: 275px;
    background: url(../images/header-bg.jpg) no-repeat center;
    background-size: cover;
    width: 100%;
}

#home h1{
    font-family: acumin-pro-wide, sans-serif;
    font-weight: 700;
    font-style: normal;
    color: #EEEEEE;
    font-size: 20px;
    line-height: 4;
    letter-spacing: 6px;
    text-transform: uppercase;
    padding-top: 110px;
}

#home h2{
    font-family: acumin-pro-wide, sans-serif;
    font-weight: 800;
    font-style: normal;
    color: #FFFFFF;
    font-size: 82px;
    line-height: 1;
    letter-spacing: -3.28px;
    text-transform: uppercase;
    max-width: 80%;
    margin: auto;
}
/* home */


/* about-us */
#about-us{
    padding-top: 160px;
    padding-bottom: 160px;
    background: url(../images/about-us-bg.jpg) no-repeat center;
    background-size: cover;
    width: 100%;
}

#about-us h5{
    font-family: acumin-pro-wide, sans-serif;
    font-weight: 700;
    font-style: normal;
    color: #2A2D74;
    font-size: 20px;
    line-height: 1.7;
    text-transform: uppercase;
    margin-left: 60px;
}

#about-us .about-border{
    background-color: #2A2D74;
    padding: 1px 5px;
    max-width: 40px;
    transform: translateY(-40px);
    align-items: center;
}

#about-us h2{
    font-family: acumin-pro-wide, sans-serif;
    font-weight: 800;
    font-style: normal;
    color: #181617;
    font-size: 40px;
    line-height: 1.4;
    text-transform: uppercase;
}

#about-us p{
    font-family: proxima-nova, sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #5C5B5C;
    font-size: 20px;
    line-height: 1.7;
    max-width: 78%;
}
/* about-us */


/* qualities */
#qualities .card-body{
    padding: 130px 90px; 
    background-color: #181617;
    transition: all 0.4s ease;
    margin: 0;
}

#qualities .card-body:hover{
    padding: 130px 90px; 
    background: url(../images/4th-quarter-performance-bg-image.jpg) no-repeat center;
    background-size: cover;
    margin: 0;
}

#qualities h5{
    font-family: acumin-pro-wide, sans-serif;
    font-weight: 700;
    font-style: normal;
    color: #FFFFFF;
    font-size: 22px;
    line-height: 2.09;
    text-transform: uppercase;
}

#qualities p{
    font-family: proxima-nova, sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #5C5B5C;
    font-size: 20px;
    line-height: 1.5;
    max-width: 98%;
}

#qualities .card-number img{
    margin-top: -200px;
    transform: translateX(-250px);
    
}
/* qualities */


/* cta */
#cta{
    padding-top: 100px;
    padding-bottom: 100px;
    background: url(../images/cta-bg-image.jpg) no-repeat center;
    background-size: cover;
    width: 100%;
}

#cta h2{
    font-family: acumin-pro-wide, sans-serif;
    font-weight: 800;
    font-style: normal;
    color: #FFFFFF;
    font-size: 40px;
    line-height: 1.4;
}

#cta p{
    font-family: proxima-nova, sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #EEEEEE;
    font-size: 20px;
    line-height: 1.6;
}

#cta h6{
    font-family: acumin-pro-wide, sans-serif;
    font-weight: 700;
    font-style: normal;
    color: #EEEEEE;
    font-size: 18px;
    line-height: 1.77;
}

#cta .cta-phone-number a{
    font-family: acumin-pro-wide, sans-serif;
    font-weight: 700;
    font-style: normal;
    color: #FFFFFF;
    font-size: 30px;
    line-height: 1.4;
    text-decoration: none;
}
/* cta */


/* team */
#team{
    padding-top: 120px;
    padding-bottom: 120px;
}

#team h5{
    font-family: acumin-pro-wide, sans-serif;
    font-weight: 700;
    font-style: normal;
    color: #2A2D74;
    font-size: 20px;
    line-height: 1.7;
    text-transform: uppercase;
}

#team .team-border{
    background-color: #2A2D74;
    padding: 1px 5px;
    max-width: 45px;
    transform: translateY(-33px);
    margin-left: 59%;
}

#team .team-border2{
    background-color: #2A2D74;
    padding: 1px 5px;
    max-width: 45px;
    transform: translateY(-35px);
    margin-left: 37%;
}

#team h2{
    font-family: acumin-pro-wide, sans-serif;
    font-weight: 800;
    font-style: normal;
    color: #181617;
    font-size: 40px;
    line-height: 1.4;
    text-transform: uppercase;
}

#team p{
    font-family: proxima-nova, sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #5C5B5C;
    font-size: 20px;
    line-height: 1.6;
    max-width: 66%;
    margin: auto;
}

#team h6{
    font-family: proxima-nova, sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #5C5B5C;
    font-size: 16px;
    line-height: 1.625;
    text-transform: uppercase;
}

#team h4{
    font-family: acumin-pro-wide, sans-serif;
    font-weight: 700;
    font-style: normal;
    color: #181617;
    font-size: 22px;
    line-height: 2.09;
    text-transform: uppercase;
    transform: translateY(-15px);
}

#team img{
    width: 100%;
}
/* team */


/* testimonials */
#testimonial{
    padding-top: 120px;
    padding-bottom: 120px;
    background: url(../images/testimonial-bg-image.jpg) no-repeat center;
    background-size: cover;
    width: 100%;
}

#testimonial h5{
    font-family: acumin-pro-wide, sans-serif;
    font-weight: 700;
    font-style: normal;
    color: #5C5B5C;
    font-size: 20px;
    line-height: 1.7;
    text-transform: uppercase;
}

#testimonial .testimonial-border{
    background-color: #5C5B5C;
    padding: 1px 5px;
    max-width: 40px;
    transform: translateY(-26px);
    margin-left: 58%;
}

#testimonial .testimonial-border2{
    background-color: #5C5B5C;
    padding: 1px 5px;
    max-width: 40px;
    transform: translateY(-28px);
    margin-left: 39%;
}

#testimonial h2{
    font-family: acumin-pro-wide, sans-serif;
    font-weight: 800;
    font-style: normal;
    color: #FFFFFF;
    font-size: 40px;
    line-height: 1.4;
    text-transform: uppercase;
}

#testimonial p{
    font-family: proxima-nova, sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #EEEEEE;
    font-size: 28px;
    line-height: 1.57;
    max-width: 72%;
    margin: auto;
}

#testimonial h6{
    font-family: acumin-pro-wide, sans-serif;
    font-weight: 700;
    font-style: normal;
    color: #FFFFFF;
    font-size: 22px;
    line-height: 2.09;
}

#testimonial .testimonial-image img{
    width: 60px;
    height: 60px;
    border-radius: 100%;
    object-fit: cover;
}
/* testimonials */


/* instagram */
#instagram{
    padding-top: 120px;
}

#instagram h5{
    font-family: acumin-pro-wide, sans-serif;
    font-weight: 700;
    font-style: normal;
    color: #2A2D74;
    font-size: 20px;
    line-height: 1.7;
    text-transform: uppercase;
}

#instagram .insta-border{
    background-color: #2A2D74;
    padding: 1px 5px;
    max-width: 45px;
    transform: translateY(-33px);
    margin-left: 60%;
}

#instagram .insta-border2{
    background-color: #2A2D74;
    padding: 1px 5px;
    max-width: 45px;
    transform: translateY(-35px);
    margin-left: 37%;
}

#instagram h2{
    font-family: acumin-pro-wide, sans-serif;
    font-weight: 800;
    font-style: normal;
    color: #181617;
    font-size: 40px;
    line-height: 1.4;
    text-transform: uppercase;
}



/* detail */
#detail{
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: #2A2D74;
    background-size: cover;
}

#detail h6{
    font-family: acumin-pro-wide, sans-serif;
    font-weight: 700;
    font-style: normal;
    color: #FFFFFF;
    font-size: 22px;
    line-height: 2.09;
    text-transform: uppercase;
}

#detail p{
    font-family: proxima-nova, sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #EEEEEE;
    font-size: 16px;
    line-height: 1.625;
    max-width: 70%;
    margin: auto;
}
/* detail */


/* footer */
#footer .footer-top{
    background: #181617;
    background-size: cover;
}

#footer .footer-top .footer-body{
    padding-top: 100px;
    padding-bottom: 110px;
}

#footer .footer-top .footer-body .footer-text p{
    font-family: proxima-nova, sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #EEEEEE;
    font-size: 16px;
    line-height: 1.625;
    max-width: 75%;
}

#footer .footer-top .other-links a,
#footer .footer-top .navigation a,
#footer .footer-top .contact-us a{
    display: block;
}

#footer .footer-top .navigation a,
#footer .footer-top .other-links a,
#footer .footer-top .contact-us a{
    text-decoration: none;
    font-family: proxima-nova, sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #EEEEEE;
    font-size: 16px;
    line-height: 1.625;
}

#footer .footer-top .footer-body h4{
    font-family: acumin-pro-wide, sans-serif;
    font-weight: 700;
    font-style: normal;
    color: #FFFFFF;
    font-size: 22px;
    line-height: 2.09;
    text-transform: uppercase;
}

#footer .footer-top .footer-body h6{
    font-family: proxima-nova, sans-serif;
    font-weight: 800;
    font-style: normal;
    color: #EEEEEE;
    font-size: 16px;
    line-height: 1.625;
}

#footer .footer-top .footer-body .contact-us p{
    font-family: proxima-nova, sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #EEEEEE;
    font-size: 16px;
    line-height: 1.625;
}

#footer .footer-bottom{
    padding-top: 16px;
    padding-bottom: 16px;
    background: #5C5B5C;
}

#footer .footer-bottom p{
    font-family: proxima-nova, sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #EEEEEE;
    font-size: 16px;
    line-height: 1.625;
}
/* footer */